section{
    height: 500px;
    background-color: salmon;
    border: solid black 1px;}

.hero{
    background-color: white;
    height: 100vh;}

footer {
    height: 500px;
    background-color: green;}

